body {
    margin: 0;
    font-family: "TT Lakes";
    background-color:#F8F8F8;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 88px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: nowrap;
    white-space: nowrap;

    .header__left {
        display: grid;
        justify-content: left;
        margin: 0;
        margin-left: 16px;
        align-items: center;
        grid-template-columns: auto auto;
        column-gap: 10px;
    }
    .header__right {
        display: grid;
        margin: 0;
        margin-right: 16px;
        align-items: center;
        grid-template-columns: auto auto auto;
        justify-content: right;
        column-gap: 10px;
    }

    .header__item_hidden {
        display: none;          
    }
}


.main {
    width: 100%;
    min-height: 1px;

    .title {
        display: flex;
        justify-content: space-between;
        .title__prod { 
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            .title__prod-text {
                padding-left: 16px;
                background-image: url("/svg/highlight.svg");
                background-position: left center; 
                background-size: 4px 40px;
                background-repeat: no-repeat;
            }
        }
        .title__menu {
            display: none;
        }
    }

    .menu {
        width: 100%;

        .menu__items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            column-gap: 6px;
            padding: 0 16px 0 16px;
            flex-wrap: nowrap;
            white-space: nowrap;
            justify-content: space-evenly;
            overflow-x: scroll;
            list-style-type: none;
        }
        .menu__items::-webkit-scrollbar {
            display: none;
        }
        
        .menu__item {
            display: block;
            padding: 0 5px 0 5px;
            min-height: 40px;
            line-height: 40px;
            color: #7E7E82;
            font-size: 16px;
            text-decoration: none;
        }
        
        .menu__item_active {
            border-radius: 6px;
            background-color: white;
            border: 2px solid #B8FFEC;
        }   

    }

    .content {
        padding-left: 16px;
    
        .content__text {
            font-size: 14px;
            width: 288px;
            height: 90px;
            overflow: hidden;
            line-height: 18px;
            letter-spacing: 0.2px;
        }

        .content__read-more {
            display: flex;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #1B1C21;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            letter-spacing: -0.2px;

            background-image: url("/svg/expand.svg");
            background-position: left center; 
            background-size: 24px 24px;
            background-repeat: no-repeat;
            padding-left: 30px;
        }

        .content__image {
            width: 100%;
        }  
    }
}

@media (min-width: 768px) {
    .header {
        .header__left {
            margin-left: 24px;
            grid-template-columns: auto auto auto;
            justify-content: left;
        }
        .header__right {
            grid-template-columns: auto auto auto auto auto auto;
            justify-content: right;
            margin-right: 24px;
        }
        .header__item_hidden {
            display: unset;          
        }
    }
    .main {
        .menu { 
            .menu__items {
                padding: 0 24px 0 24px;
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 160px 40px;
            padding-left: 24px;

            .content__text {
                grid-row: 1 / 2;
                width: 312px;
                height: 160px;
                line-height: 20px;
            }
            .content__read-more {
                align-self: center;
                padding: 0 0 0 30px;
                margin-left: 6px;
                grid-row: 2 / 3;
            }
            .content__image {
                grid-row: 1 / 3;
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}

@media (min-width: 1120px) {
    .header {
        display: none;
    }
    .main {
        .menu {
            .menu__items {
                justify-content:space-around;
                margin-left: 35px;
            }
        }

        .title{
            margin-top: 42px;
            display: flex;
            justify-content: space-between;
           
            .title__prod {
                display: flex;
                align-items: center;
                height: 40px;
                flex: 0 0 40%;
                margin-left: 0;

                .title__prod-text {
                    background-image: url("/svg/highlight.svg");
                    background-position: left center; 
                    background-size: 3px 40px;
                    background-repeat: no-repeat;
                    padding-left: 24px;
                }
            }
            .title__menu {
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex: 0 0 40%;
                font-weight: 500;
                
                .title__menu-oreder {
                    padding: 10px 50px;
                    background-image: url("/svg/repair.svg"); 
                    background-position: right center; 
                    background-size: 40px 40px;
                    background-repeat: no-repeat;
                }
                .title__menu-status {
                    padding: 10px 50px;
                    background-image: url("/svg/checkstatus.svg"); 
                    background-position: right center; 
                    background-size: 40px 40px;
                    background-repeat: no-repeat;
                }
            }
            
        }

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 160px 40px;
            

            .content__text {
                grid-row: 1 / 2;
                padding-left: 35px;
                width: 490px;
                height: 160px;
                line-height: 20px;
            }
            .content__read-more {
                align-self: center;
                padding: 0 0 0 30px;
                margin-left: 35px;
                grid-row: 2 / 3;
                grid-row: span;
            }
            .content__image {
                display: grid;
                align-content: center;
                grid-row: 1 / 3;
                width: 531.35px;
                height: 307px;
                border-radius: 10px;
            }

        }
    }
}
